-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

div {
	display: block;
}

.container {
	position: relative;
}

.blue {
	position: absolute;
	/*background-color: rgb(100, 168, 242);*/
	border: 1px solid;
}

.white {
	position: absolute;
	/*background-color: rgb(255, 255, 255);*/
	border: 1px solid #F00;
}

.head {

	left: 108px;
	top: 40px;
	width: 68px;
	height: 68px;
	border-radius: 34px;
	z-index: 11;
}

.body {
	width: 170px;
	height: 170px;
	border-radius: 85px;
	z-index: 1;
}

.anti-body {
	top: -5px;
	left: -55px;


	width: 170px;
	height: 170px;
	border-radius: 85px;
	z-index: 2;
}

.anti-body2 {
	top: -93px;
	left: 25px;


	width: 170px;
	height: 170px;
	border-radius: 85px;
	z-index: 10;
}

.pena-bottom {
	left: 50px;
	top: 70px;

	width: 68px;
	height: 68px;
	border-radius: 34px;
	z-index: 5;
}

.anti-pena-bottom {
	left: 20px;
	top: 47px;

	width: 68px;
	height: 68px;
	border-radius: 34px;
	z-index: 6;
}

.pena-middle{
	left: 40px;
	top: 47px;

	width: 68px;
	height: 68px;
	border-radius: 34px;
	z-index: 7;
}

.anti-pena-middle {
	left: 30px;
	top: 18px;

	width: 68px;
	height: 68px;
	border-radius: 34px;
	z-index: 8;
}

.pena-top {
	left: 43px;
	top: 24px;

	width: 68px;
	height: 68px;
	border-radius: 34px;
	z-index: 9;
}